* {
  font-family: "Poppins", sans-serif;
}

.h1 {
  font-size: 1.7rem;
}

.center {
  min-height: calc(100vh - 13.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="floatingPassword"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

tbody {
  width: 60%;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.container-form {
  width: 40%;
  margin: auto;
}