{% extends 'base.html' %} 

{% block title %} Homepage | Book Collection {%endblock title %} 

{% block content %}
<div class="px-4 py-5 my-5 text-center center">
  <h1 class="display-5 fw-bold">{{ name }} <br />{{ class }}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Welcome to our Book Collection! We love books and have put together a
      variety of titles just for you. From classics to modern reads, there's
      something here for everyone. We hope you find the perfect book to enjoy.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        type="button"
        class="btn btn-dark btn-lg px-4 gap-3"
        href="{% url 'main:login' %}"
        >Login</a
      >
      <a
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        href="{% url 'main:register' %}"
        >Sign Up</a
      >
    </div>
  </div>
</div>
{% endblock content %}
