{% extends 'base.html' %} 

{% block title %} Login | Book Collection {%endblock title %} 

{% block links %}
<li class="nav-item">
  <a
    class="nav-link active"
    href="{% url 'main:show_landing_page' %}"
    ><span class="border-bottom border-light">Home</span></a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link active"
    href="{% url 'main:register' %}"
    ><span class="border-bottom border-light">Register</span></a
  >
</li>
{% endblock links %} 

{% block content %}
<div class="d-flex flex-column align-items-center my-auto py-4">
  {% if messages %} 
    {% for message in messages %}
      <div class="card">
        <p class="card-body text-center mb-0">{{ message }}</p>
      </div>
    {% endfor %} 
  {% endif %}
  <main class="form-signin w-100 m-auto">
    <form method="POST">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-bold">Please Login</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="restuaar"
          name="username"
          autofocus
        />
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="password"
          name="password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button
        class="btn btn-dark w-100 py-2"
        type="submit"
      >
        Login
      </button>
    </form>
  </main>
</div>

{% endblock content %}
