{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Book Collection</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <style>
      footer {
        text-align: center;
        padding: 1rem;
        background-color: #000000;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="logo">
        <span role="img">📖</span>
        <a href="/">PBP Ganjil 23/24</a>
      </div>
      <div>
        <h1 class="header">BOOK COLLECTION</h1>
      </div>
      <div class="links">
        <a href="/">Home</a>
      </div>
    </nav>

    <main class="container">
      {% for buku in data %}
      <section class="card">
        <div class="amount">{{ buku.amount }}</div>
        <h2>{{ buku.name }}</h2>
        <p>{{ buku.description }}</p>
      </section>
      {% endfor %}
    </main>

    <footer>
      <p>&copy; 2023 Restu Ahmad Ar Ridho</p>
    </footer>
  </body>
</html>
