{% extends 'base.html' %} 
{% block title %} KoleksiKu | Book Collection {%endblock title %} 

{% block links %}
<li class="nav-item">
  <a
    class="nav-link active"
    href="{% url 'main:logout' %}"
    ><span class="border-bottom border-light">Logout</span></a
  >
</li>
<li class="nav-item">
  <p class="navbar-text mb-0">
    <span class="text-light me-2 ps-2 border-start border-light"
      >Welcome, {{ user }}</span
    >
  </p>
</li>
<li class="nav-item">
  <a
    class="nav-link active"
    href="{% url 'main:show_main' %}"
    ><span class="border-bottom border-light">KoleksiKu</span></a
  >
</li>
<li class="nav-item">
  <button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#modalAdd"
    class="nav-link active"
  >
    <span class="border-bottom border-light">Tambah Buku</span>
  </button>
</li>
{% endblock links %} 

{% block content %}
<div class="album pb-5 pt-3">
  <div class="card w-50 mb-3 mx-auto container-notif-buku-baru">
    <p class="card-body text-center mb-0 notif-buku-baru">
      <!-- Notif buku baru -->
    </p>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 bookshelf">
      <!-- Tempat Buku -->
    </div>
  </div>
</div>
{% endblock content %}
